# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

jsoncontent

src/sns2ps/sns2ps
src/sns2ps/sns2ps.code-workspace
*DS_Store
.vscode/
sns2ps
todo.md
*.csv
pyvenv/*
