{
    "model": "match_ipsc.ipsccompetitor",
    "pk": {{number}},
    "fields": {
        "shooter": {{number}},
        "first_name": "{{category}}",
        "last_name": "{{division}}",
        "sex": "{{sex}}",
        "email": "{{category}}_{{division}}@example.com",
        "region": "{{region}}",
        "state": "",
        "club": "",
        "club_member": null,
        "_phone": "",
        "number": {{number}},
        "status": "{{status}}",
        "code": "-",
        "comment": "",
        "prematch": true,
        "license": "{{number}}/2001",
        "pin": "",
        "notify": false,
        "_paid": true,
        "did_not_finish": false,
        "_locked": true,
        "has_accepted_event_data_policy": true,
        "created_by": "",
        "_created": "2021-05-01T10:22:47.836Z",
        "updated_by": "",
        "_updated": "",
        "lock_changed_by": "",
        "_lock_changed": "",
        "event": {{event}},
        "squad": {{squad}},
        "handgun_div": "",
        "handgun_pf": "-",
        "rifle_div": "",
        "rifle_pf": "-",
        "mini_rifle_div": "{{mr_division}}",
        "prec_rifle_div": "",
        "prec_rifle_pf": "-",
        "shotgun_div": "{{sg_division}}",
        "air_div": "{{ai_division}}",
        "pcc_div": "",
        "tournament_division": "",
        "category": "{{category_code}}",
        "category2": "-",
        "classification": "M",
        "_div_place": 0,
        "_div_percent": "0.00",
        "_div_points": "0.0000",
        "_cat_place": 0,
        "_cat_percent": "0.00",
        "_cat_points": "0.0000",
        "_combined_place": 0,
        "_combined_percent": "0.00",
        "_combined_points": "0.0000",
        "_tot_a": 0,
        "_tot_b": 0,
        "_tot_c": 0,
        "_tot_d": 0,
        "_tot_miss": 0,
        "_tot_penalty": 0,
        "_tot_procedural": 0,
        "_tot_raw_time": "0.00",
        "ics_alias": "",
        "uspsa_num": "",
        "sra_num": "",
        "three_gun_id": ""
    }
}